<a href="https://colab.research.google.com/github/Mahmudulhridoy/python-for-data-science/blob/main/file_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
file=open("./sample_data/sample_data.txt", "r")
content=file.read()
print(content)
file.close()

In [ ]:
with open("./sample_data/sample_data.txt","r") as file:



     content=file.readlines()
     for line in content:
      print(line, end="")

file.close()

In [ ]:
with open("./sample_data/sample_data.txt", "r") as file:
  for line in file:
    print(line.strip())

In [ ]:
with open("./sample_data/sample.txt","w") as file:
  file.write("Hi i am mahmudul hasan hridoy, currently studying in Daffodil International University pursuing my bsc degree in software engineering.")
  print(file)

<_io.TextIOWrapper name='./sample_data/sample.txt' mode='w' encoding='utf-8'>

In [ ]:
with open("./sample_data/sample.txt","w") as file:
  file.write("Hi i am mahmudul hasan hridoy from rajhahi currently studying in Daffodil International University.\n")
  file.write("pursuing my bsc degree in software engineering.\n")
  print(file)

<_io.TextIOWrapper name='./sample_data/sample.txt' mode='w' encoding='utf-8'>

In [ ]:
with open("./sample_data/sample.txt","a") as file:
  file.write("i already completed my five semester within eleven semester.\n")
  file.write("i will complete my bsc degree in 2027 december.\n")
  file.write("so this is all about myself")

In [ ]:
strings=['hello', 'hi','good bye', 'what up']
with open("./sample_data/sample2.txt","a") as file:
  file.writelines(strings)

In [ ]:
with open("./sample_data/sample.txt","r") as file:
  print(file.tell())
  print(file.read())
  print(file.tell())
  print(file.read())

0
Hi i am mahmudul hasan hridoy from rajhahi currently studying in Daffodil International University.
pursuing my bsc degree in software engineering.
i already completed my five semester within eleven semester.
i will complete my bsc degree in 2027 december.
so this is all about myself
284

In [ ]:
with open("./sample_data/sample.txt","r") as file:
  print(file.tell())
  print(file.read(100))
  print(file.tell())
  print(file.read())
  print(file.tell())

0
Hi i am mahmudul hasan hridoy from rajhahi currently studying in Daffodil International University.

100
pursuing my bsc degree in software engineering.
i already completed my five semester within eleven semester.
i will complete my bsc degree in 2027 december.
so this is all about myself
284

In [ ]:
##seek
with open("./sample_data/sample.txt","r") as file:
  print(file.tell())
  print(file.read(120))
  print(file.tell())
  file.seek(12)
  print(file.tell())
  print(file.read(240))

0
Hi i am mahmudul hasan hridoy from rajhahi currently studying in Daffodil International University.
pursuing my bsc degr
120
12
udul hasan hridoy from rajhahi currently studying in Daffodil International University.
pursuing my bsc degree in software engineering.
i already completed my five semester within eleven semester.
i will complete my bsc degree in 2027 decem

get the text from sample.txt and count the following
number of lines

1.   number of words
2.   number of characters


1.   number of lines
2.   save it to the counter of string.txt file

In [ ]:
from functools import reduce
with open("./sample_data/sample.txt","r") as file:
  string_list=file.readlines()
  total_lines=len(string_list)
  print(total_lines)
  ## word koita ber korbo ekhon
  number_of_words=list(map(lambda x:len(x.split()), string_list))
  print(number_of_words)
  ##total word ber korbo
  total_number_of_words= reduce (lambda x,y: x+y, number_of_words)
  print(total_number_of_words)
  #new line delete]
  string_list=list(map(str.strip, string_list))
  print(string_list)
  #space delete
  string_list=list(map(lambda x: x.replace(" ",""),string_list))
  print(string_list)
  #character ber korbo
  number_of_characters=list(map(lambda x: len(x), string_list))
  print(number_of_characters)
  #total character ber korbo
  total_number_of_characters=reduce(lambda x,y: x+y, number_of_characters)
  print(total_number_of_characters)
  with open("./sample_data/counter.txt","w") as file:
    file.write(f"total lines: {total_lines}\n")
    file.write(f"total words: {total_number_of_words}\n")
    file.write(f"total characters: {total_number_of_characters}")

5
[14, 7, 9, 9, 6]
45
['Hi i am mahmudul hasan hridoy from rajhahi currently studying in Daffodil International University.', 'pursuing my bsc degree in software engineering.', 'i already completed my five semester within eleven semester.', 'i will complete my bsc degree in 2027 december.', 'so this is all about myself']
['HiiammahmudulhasanhridoyfromrajhahicurrentlystudyinginDaffodilInternationalUniversity.', 'pursuingmybscdegreeinsoftwareengineering.', 'ialreadycompletedmyfivesemesterwithinelevensemester.', 'iwillcompletemybscdegreein2027december.', 'sothisisallaboutmyself']
[86, 41, 52, 39, 22]
240

# practice problem:
write then read with one open

In [ ]:
with open("./sample_data/write_read.txt", "w+") as file:
  file.write("hello world")

  print(file.tell())
  file.seek(0)
  print(file.tell())
  print(file.read(5))
  file.truncate(10)
  file.seek(0)
  print(file.read())

11
0
hello
hello worl

# Exception Handling

In [ ]:
n=int(input())

try:
  a=10/0
except ZeroDivisionError:
  print("you can not divide by zero")
print("mahmudul hasan hridoy")

0
you can not divide by zero
mahmudul hasan hridoy

In [ ]:
try:
  x=y
except NameError as ne:
  print(ne)
print("hello world")

name 'y' is not defined
hello world

In [ ]:
## if i am not knowing what error happens
try:
  x=y
except Exception as e:
  print(e)
print("hello world")

name 'y' is not defined
hello world

In [ ]:
# model train
try:
  file=open("./sample_data/data1.txt", "r")
  file.read()
except Exception as e:
  print(e)
else:
  print(file.read())
finally:
  print("GPU IS STOPPED")

GPU IS STOPPED