## Tuples

In [5]:
tup=(10,20, 30, 40)
print(type(tup), tup)
float_tup=(10.5, 390.4, 45.3)
print(type(float_tup), float_tup)
mixed_tup=(10, 20.5, "str", True)
print(mixed_tup)
tup1=(2,)
print(type(tup1))

<class 'tuple'> (10, 20, 30, 40)
<class 'tuple'> (10.5, 390.4, 45.3)
(10, 20.5, 'str', True)
<class 'tuple'>

In [7]:
## accessing
tuple=(123, 23, 45, 34.344, "hridoy", False)
print(tuple[4])
#slicing
new_tuple=tup[0:3]
print(new_tuple)

hridoy
(10, 20, 30)

In [9]:
#immutability
lst=[10, 30, 45, 35,445]
lst.append(4455)
print(lst)
tupple=(29, 34, 565,3)
tupple[4]=56
print(tupple) ## can't change anything if you declare tupple elements once

[10, 30, 45, 35, 445, 4455]

TypeError: 'tuple' object does not support item assignment

In [14]:
print(tuple.count(10))
print(tuple.count(123))
print(tuple.index(123))
print(tuple.index(45))

0
1
0
2

## SET

In [16]:
set={1,2,3,4,5,6,7}
print(type(set) , set)
empty_set={}
empty_list=[]
empty_tuple=()
print(type(empty_set), type(empty_list), type(empty_tuple))

<class 'set'> {1, 2, 3, 4, 5, 6, 7}
<class 'dict'> <class 'list'> <class 'tuple'>

In [23]:
## accessing the elements of set
s={1,2,3,4,1,2}
print(s)
if(3 in s):
    print("3 is present")
else:
    print("not present")
sum=0
for element in s:
    sum+=element


print(f" the sum is {sum}")

{1, 2, 3, 4}
3 is present
 the sum is 10

In [30]:
## mutable
s={5,1,3,4,2}

s.add(12)
s.add(0)
print(s)
s.pop()  ## pop front theke bad jabe
s.pop()
s.remove(5)
print(s)

{0, 1, 2, 3, 4, 5, 12}
{2, 3, 4, 12}

## set mathematical Methods

In [33]:
a={2,3,4,5,65}
b={1,2,34,4,5,65,3}
print(a.union(b))
print(a.intersection(b))
print(a.isdisjoint(b))
print(a.issubset(b))

{65, 2, 3, 4, 5, 1, 34}
{65, 2, 3, 4, 5}
False
True

## Dictionary

In [47]:
dic={}
print(type(dic))
dic={'name':  'Hridoy', 'age':23, 'address': 'Dhaka', 'numbers':[10,20, 30]}
print(dic)

<class 'dict'>
{'name': 'Hridoy', 'age': 23, 'address': 'Dhaka', 'numbers': [10, 20, 30]}

In [46]:
#accessing the dictionary
print(dic['name'])
print(dic.get("age"))
dic["name"]="mahmudul hasan hridoy"

print(dic)

mahmudul hasan hridoy
20
{'name': 'mahmudul hasan hridoy', 'age': 20, 'address': 'rajshahi'}

In [51]:
print(dic.get("math_marks"))
print(dic.get("math_marks", 0))

None
0

In [2]:
set={1,2}
set2={2,3}
set3=set|set2
print(set3)

{1, 2, 3}

In [52]:
##ADDING A VALUE
dic["math_marks"]=30
print(dic)

{'name': 'Hridoy', 'age': 23, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30}

In [53]:
dic.update({"english_marks": 40})
print(dic)

{'name': 'Hridoy', 'age': 23, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30, 'english_marks': 40}

In [54]:
dic_2=dic.copy()
print(dic_2)

{'name': 'Hridoy', 'age': 23, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30, 'english_marks': 40}

In [61]:
# testing
dic_3={(10,230, 309): "a"}
print(dic_3)
dic_4={"key": {"name": "mahmudul hasan hridoy", 'age': 20}} ## key hisebe ekhane sob mutable value rakha lagbe, immutable hole cholbe naa
print(dic_4)

{(10, 230, 309): 'a'}
{'key': {'name': 'mahmudul hasan hridoy', 'age': 20}}

In [62]:
keys=dic.keys()
print(keys)

dict_keys(['name', 'age', 'address', 'numbers', 'math_marks', 'english_marks'])

In [63]:
items=dic.items()
print(items)

dict_items([('name', 'Hridoy'), ('age', 23), ('address', 'Dhaka'), ('numbers', [10, 20, 30]), ('math_marks', 30), ('english_marks', 40)])

In [64]:
#iteration
for key, value in dic.items():
    print(key, value)

name Hridoy
age 23
address Dhaka
numbers [10, 20, 30]
math_marks 30
english_marks 40

## Dictionary Comprehension

In [68]:
print(list(range(10)))

square={x:x**2  for x in range (1,11) if x%2==0}
print(square)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [69]:
co_ordinates=[(10,10.5), (20.5, 192), (101,102)]
locations=["dhaka", "chattogram", "sylhet"]
exact_location={co_or: loc for co_or , loc in zip(co_ordinates, locations)}
print(exact_location)

{(10, 10.5): 'dhaka', (20.5, 192): 'chattogram', (101, 102): 'sylhet'}

## problem solving with in built structures

In [1]:
lst=[10,20,30,30, 60,340,40,50, 650, 60, 70, 90]
unique_values=set(lst)
unique_list=list(unique_values)
print(unique_list)

[70, 40, 10, 650, 50, 20, 340, 90, 60, 30]

In [7]:
string="""data science machine learning data  analysis machine learning statistics data models data training data validation features features labels preproccesing  data augmentation models data optimization gradient descent neural networks data tensors matrices visualization exploration pandas numpy matlotlib seaborn scikitlearn tensorflow pytorch deployment inference production monitoring reproductibility experiments results metrices accuracy precision recall f1 cross validation data machine"""

words=string.split()
print(words)
print(type(word))
count={}
for word in words:
    count[word]=count.get(word,0)+1
for k, v in count.items():
    print(f"count of {k} is {v}")

['data', 'science', 'machine', 'learning', 'data', 'analysis', 'machine', 'learning', 'statistics', 'data', 'models', 'data', 'training', 'data', 'validation', 'features', 'features', 'labels', 'preproccesing', 'data', 'augmentation', 'models', 'data', 'optimization', 'gradient', 'descent', 'neural', 'networks', 'data', 'tensors', 'matrices', 'visualization', 'exploration', 'pandas', 'numpy', 'matlotlib', 'seaborn', 'scikitlearn', 'tensorflow', 'pytorch', 'deployment', 'inference', 'production', 'monitoring', 'reproductibility', 'experiments', 'results', 'metrices', 'accuracy', 'precision', 'recall', 'f1', 'cross', 'validation', 'data', 'machine']
<class 'str'>
count of data is 9
count of science is 1
count of machine is 3
count of learning is 2
count of analysis is 1
count of statistics is 1
count of models is 2
count of training is 1
count of validation is 2
count of features is 2
count of labels is 1
count of preproccesing is 1
count of augmentation is 1
count of optimization is 1
count of gradient is 1
count of descent is 1
count of neural is 1
count of networks is 1
count of tensors is 1
count of matrices is 1
count of visualization is 1
count of exploration is 1
count of pandas is 1
count of numpy is 1
count of matlotlib is 1
count of seaborn is 1
count of scikitlearn is 1
count of tensorflow is 1
count of pytorch is 1
count of deployment is 1
count of inference is 1
count of production is 1
count of monitoring is 1
count of reproductibility is 1
count of experiments is 1
count of results is 1
count of metrices is 1
count of accuracy is 1
count of precision is 1
count of recall is 1
count of f1 is 1
count of cross is 1